<p id="notice"><%= notice %></p>

<h1>Photo Repository</h1>
<%= link_to 'Upload Photos', new_post_path %>
<br/>
<% @posts.each do |post| %>
  <h3><b><%= post.title %><b/></h3>
  <p>
    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
  <p>
    <div style="width:50px, height:auto">
      <%= image_tag(post.images[0], style:"width:300px")  %>
    </div>
  </p>
  <hr/>
<% end %>
